@model CustomerIndexViewModel

@{
    ViewData["Title"] = "Customer";
}

<section class="grid-container category-index">
    <p>Search by</p>
    <form method="get" asp-action="Index" class="filter">
        <label asp-for="CustomerName">Name</label>
        <input asp-for="CustomerName" />
        <label asp-for="CustomerNumber">Number</label>
        <input asp-for="CustomerNumber" />
        <input asp-for="IsExpired" type="checkbox" /> <label>Membership Already Expired</label>
        <button class="blue-button">Search</button>
    </form>

    <a asp-action="Insert" class="blue-button create-button">Add New Customer</a>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Membership Number</th>
                <th>Full Name</th>
                <th>Expire Date</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>
                        <a asp-action="Update" class="blue-button" asp-route-id="@customer.MembershipNumber">Edit</a>
                        <a asp-action="Delete" class="blue-button" asp-route-id="@customer.MembershipNumber">Delete</a>
                        <a asp-action="Extend" class="blue-button"  asp-route-id="@customer.MembershipNumber">Extend</a>
                    </td>
                    <td><a href="javascript:;" class="biodata-button" data-number="@customer.MembershipNumber">@customer.MembershipNumber</a></td>
                    <td>@customer.FirstName @customer.LastName</td>
                    <td> @customer.MembershipExpireDate.ToString("dd/MM/yyyy")</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    <div class="pagination">
                        <div>page @Model.PageNumber of @Model.TotalPage</div>
                        <div>
                            @for (int p = 1; p <= Model.TotalPage; p++)
                            {
                                <a asp-action="Index" asp-route-page="@p" asp-route-customerName="@Model.CustomerName" asp-route-customerNumber="@Model.CustomerNumber" asp-route-isExpired="@Model.IsExpired">@p</a>
                            }
                        </div>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</section>

<div class="modal-layer">
    <div class="popup-dialog biodata-dialog">
        <table>
            <tbody>
                <tr>
                    <td>Membership Number</td>
                    <td class="membership-number"></td>
                </tr>
                <tr>
                    <td>Full Name</td>
                    <td class="full-name"></td>
                </tr>
                <tr>
                    <td>Birth Date</td>
                    <td class="birth-date"></td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td class="gender"></td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td class="phone"></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td class="address"></td>
                </tr>
            </tbody>
        </table>
        <a href="javascript:;" class="blue-button close-button">
            Close
        </a>
    </div>
</div>
